doctype html
html(lang="en")
  head
    title WHA Sketch Template
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="description")
    meta(name="keywords", content="keywords")
    meta(name="author", content="Logan McAnsh")
    meta(name="theme-color", content="######")
    link(rel="shortcut icon" href="https://loganmcansh.com/assets/favicon/favicon.png")
    link(rel="stylesheet", href="assets/css/style.css")
    link(rel="mask-icon" href="https://loganmcansh.com/assets/favicon/website_icon.svg" color="######")
    // Apple Touch Icons
    link(rel="shortcut icon" href="https://loganmcansh.com/assets/favicon/png/favicon-32.png" sizes="32x32")
    link(rel="apple-touch-icon-precomposed" sizes="228x228" href="https://loganmcansh.com/assets/favicon/png/favicon-228.png")
    link(rel="apple-touch-icon-precomposed" sizes="195x195" href="https://loganmcansh.com/assets/favicon/png/favicon-195.png")
    link(rel="apple-touch-icon-precomposed" sizes="152x152" href="https://loganmcansh.com/assets/favicon/png/favicon-152.png")
    link(rel="apple-touch-icon-precomposed" sizes="144x144" href="https://loganmcansh.com/assets/favicon/png/favicon-144.png")
    link(rel="apple-touch-icon-precomposed" sizes="128x128" href="https://loganmcansh.com/assets/favicon/png/favicon-128.png")
    link(rel="apple-touch-icon-precomposed" sizes="120x120" href="https://loganmcansh.com/assets/favicon/png/favicon-120.png")
    link(rel="apple-touch-icon-precomposed" sizes="96x96" href="https://loganmcansh.com/assets/favicon/png/favicon-96.png")
    link(rel="apple-touch-icon-precomposed" sizes="72x72" href="https://loganmcansh.com/assets/favicon/png/favicon-72.png")
    link(rel="apple-touch-icon-precomposed" href="https://loganmcansh.com/assets/favicon/png/favicon-57.png")
    // Twitter Card
    meta(name="twitter:card" content="summary")
    meta(name="twitter:site" content="@logansmcansh")
    meta(name="twitter:title" content="Logan McAnsh")
    meta(name="twitter:description" content="Workhard Anywher Sketch Template")
    meta(name="twitter:image" content="https://github.com/mcansh/workhardanywhere-sketch-template/raw/gh-pages/assets/img/1920x1200.png")
  body
      
    h1 Workhard Anywhere Sketch Template
    
    .example
    
    .download
      a(href="https://github.com/mcansh/workhardanywhere-sketch-template/raw/master/WHA_template.sketch") Download Sketch file
        include assets/img/download.svg
