@import '//brick.a.ssl.fastly.net/Montserrat:300'

*
  margin: 0
  box-sizing: border-box

body
  min-height: 100vh
  font-family: "Montserrat"
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  -webkit-backdrop-filter: blur(5px)
  color: white
  background:
    image: linear-gradient(0deg, rgba(0, 0, 0, 0.54902), rgba(0, 0, 0, 0.54902)), url(../img/1920x1200.png)
    size: cover
    position: center
    repeat: no-repeat
  h1,h2,h3,h4,h5,h6
    font-weight: 300


// .example
  width: 500px
  height: 320px
  background:
    image: url(../img/1920x1200.png)
    size: cover
    position: center
  margin: 40px


.download
  margin: 20px
  a
    display: flex
    justify-content: center
    align-items: center
    background: salmon
    padding: 15px 30px
    border-radius: 3px
    text-decoration: none
    color: black
    transition: 300ms padding cubic-bezier(0, 2.08, 0.44, 1.13), 300ms background ease-in-out
    svg
      margin-left: 5px
    &:hover
      background: darken(salmon, 10%)
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12), 0px 0px 20px rgba(0, 0, 0, 0.12)
      color: white
      padding: 15px 40px
      svg
        path
          fill: white
